<div class="title-bar clearfix" data-responsive-toggle="landing-page__home-nav" data-hide-for="large">
  <button class="menu-icon float-right" type="button" data-toggle></button>
  <div class="title-bar-title float-left"><img class="logo" src="assets/img/landing-page-logo.png"/></div>
</div>

<nav class="top-bar" id="landing-page__home-nav" role="navigation">
  <div class="container">
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
        <li class="menu-text"><img class="logo" src="assets/img/EDEA-logo.png"/></li>
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="vertical large-horizontal menu">
        <li>
          <a href="input-form.html">Take Test</a>
        </li>
        <li>
          <a href="overall.html">Log In</a>
        </li>
        <li>
          <a href="#">Sign up</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
