<div class="title-bar clearfix" data-responsive-toggle="EDEA-menu" data-hide-for="large">
  <button class="menu-icon float-right" type="button" data-toggle></button>
  <div class="title-bar-title float-left">EDEA</div>
</div>

<nav class="top-bar" id="EDEA-menu" role="navigation">
  <div class="container">
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
        <li class="menu-text">EDEA</li>
      </ul>
    </div>
    <form class="top-bar-right" role="form">
      <ul class="vertical large-horizontal menu">
        <li>
          <a href="takeTest.html">Take Test</a>
        </li>
        <li>
          <a href="#">Log In</a>
        </li>
        <li>
          <a href="#">Sign up</a>
        </li>
      </ul>
    </form>
  </div>
</nav>
