<nav>
    <div class="top-bar">
     
      <div class="top-bar-left">
        <ul class="menu">
          <li><a href="#"><i class="fi-list"></i> <span>Menu</span></a></li>
        </ul>
      </div>
      
      <div class="menu-centered">
        <ul class="menu">
          <li><a href="stance.html"><i class="fi-list"></i> <span>Stance</span></a></li>
          <li><a href="overall.html"><i class="fi-list"></i> <span>Overall</span></a></li>
        </ul>
      </div>
      
      <div class="top-bar-right">
        <ul class="menu">
          <li><a href="#">Adjust</a></li>
        </ul>
      </div>
      
    </div>
</nav>
