{{!-- This is the base layout for your project, and will be used on every page. --}}

<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foundation for Sites</title>
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
  </head>
  <body>

    <div class="title-bar clearfix" data-responsive-toggle="EDEA-menu" data-hide-for="large">
      <button class="menu-icon float-right" type="button" data-toggle></button>
      <div class="title-bar-title float-left">EDEA</div>
    </div>

    <nav class="top-bar" id="EDEA-menu" role="navigation">
      <div class="container">
        <div class="top-bar-left">
          <ul class="dropdown menu" data-dropdown-menu>
            <li class="menu-text">EDEA</li>
          </ul>
        </div>
        <form class="top-bar-right" role="form">
          <ul class="vertical large-horizontal menu">
            <li>
              <a href="takeTest.html">Take Test</a>
            </li>
            <li class="form-group">
              <input type="text" placeholder="Email" class="form-control">
            </li>
            <li class="form-group">
              <input type="password" placeholder="Password" class="form-control">
            </li>
            <li>
              <button type="submit" class="button">Sign in</button>
            </li>
            <li>
              <a href="#">Sign up</a>
            </li>
          </ul>
        </form>
      </div>
    </nav>

    {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}
    {{> body}}

    <script src="{{root}}assets/js/app.js"></script>
  </body>
</html>
